<h1> Welcome <%= @user.username %> </h1>

    <div>These are your Posts!
        <ul> 
        <% @user.subs.each do |sub| %>
            <li><%= sub.title %></li>
            <li><%= sub.description %></li>
            <form action="sub_url" method="POST">
                <input type="hidden" name="_method" value="PATCH">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> 
                <button>Update Post</button>
            </form>
        <% end %>
        </ul>
    </div>

    <div>
    <h1> Make a Sub! </h1>

<form action="<%= user_subs_url(@user)%>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
        <label>Title
            <input type="text" name="subs[title]">
        </label>
        <label>Description
            <input type="text" name="subs[description]">
        </label>
        <button>Create Sub!</button>
    <% if flash.now[:errors]%>
       <p><%= flash.now[:errors].join(" ") %></p> 
    <% end %>
</form>
    </div>

    